Hello,
<br />
<br />

This is an email from shoprank.co

<br />
<br />

Email: {{ order.email }}<br />
Description: {{ order.body }}<br />
Budget: {{ order.budget }}<br />
Domain: <a href="http://shoprank.co/website/{{ order.domain }}">{{ order.domain }}</a>
<br />
<br />

Best regards,
<br />
<br />

Digestoo
<br />
https://www.digestoo.com
